ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
}

li {
  width: 250px;
  height: 350px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  background-color: #f7f7f7;
}

.icon {
  display: block;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  background-image: url("0-sprite.png");
  background-repeat: no-repeat;
  background-size: 600px 200px;
}

.i-html {
  background-position: 0 0;
}

.i-css {
  background-position: -200px 0;
}

.i-js {
  background-position: -400px 0;
}
